{% load static %}

<!DOCTYPE html>
<html>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
  <body>	
    <div class="container">
      <div class="row">
        <div class="col-s-2"></div>
          <div class="col-s-8">
            <img src="{% static 'coloring/images/waterBottle.JPG' %}" height="1600" width="1000">
          </div>
        <div class="col-s-2"></div>
      </div>
    </div>

    <div class = "container">
      <div class="row">
  <!--       show chosen color -->
        <div class="col-sm-4">
          <img src="{% static 'coloring/images/chosenColors.JPG' %}" height="200" width="200">

        </div>
        <div class = "col-sm-4">
          <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/il/ios9-camera-mode-icon.png" height="200" width="250">
        </div>
        <div class = "col-sm-4">
          <br><br><br>
          <button class="btn btn-info btn-lg" type="button">Back</button>
          <button class="btn btn-info btn-lg" type="button">Save</button> 
        </div>
       </div>




    </div>
  

<!-- 	<canvas id="myCanvas" width="750px" height="750px"></canvas> -->
  </body>
</html>